.active {
  color: #fff700;
}

.inactive {
  color: #000;
}

.text {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}

.star-rating {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
